/*Fuente importada --- Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(116, 136, 182);
    font-family: 'Ubuntu', sans-serif;
}
form{
    margin-left: 10%;
    align-items: center;
}
div{
    margin-top:10%;
    margin-left: 25%;
    margin-right: 20%;
    background-color: beige;
    padding: 5%;
    padding-bottom: 2%;
    border-radius: 25px;
}

h2{
    margin-left: 25%;
    margin-bottom: 5%;
    font-size: 29px;
    margin-top: -5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(71, 142, 170);
}

form label{
    width: 30%;
    font-size: 18px;
    text-align: right;
}
form input{
    font-size: 17px;
    color: cadetblue;
    font-weight: 900;
    height: 20px;
}
label+input{
    width: 30%;
    margin: 0 30% 0 4%;
}
form button{
    margin-left: 28%;
    margin-top: 5%;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 800;
    border: 0;
    color: white;
    border-radius: 20px;
    background-color: rgb(139, 178, 215);
}
form button:hover{
    background-color: rgb(102, 131, 158);
}
label, input{
    display: inline-block;
    margin-top: 1%;
}